<!DOCTYPE html>
<html>
<head>
	<title>H치bitos saud치veis e IMC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="page-header d-flex justify-content-end">
		<h1 class="page-title">H치bitos saud치veis <br> e IMC</h1>
	</header>
	<footer class="page-footer">
		<a href="#" role="button">Iniciar</a>
	</footer>
</body>
</html>