@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/100.otf')) format("opentype");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/100-italic.otf')) format("opentype");
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/400.otf')) format("opentype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/400-italic.otf')) format("opentype");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/700.otf')) format("opentype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/700-italic.otf')) format("opentype");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/900.otf')) format("opentype");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/900-italic.otf')) format("opentype");
   font-weight: 900;
   font-style: italic;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.page-header {
   background-color: #00171f;
   min-height: 30vh;
   padding: 20px;
   .page-title {
      width: 50%;
      font-family: 'Typo Grotesk';
      font-weight: 700;
      color: #f44d00;
      text-align: left;
      font-size: 60px;
      text-transform: uppercase;
   }
}

.div-container {
   padding: 20px;

   .food-container {
      margin-bottom: 30px;
      margin-top: 30px;
      .food {
         width: 90px;
         height: 90px;
         background-color: #ffcb03;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;

         &:not(:last-child) {
            margin-right: 30px;
         }

         .food-img {
            width: 50px;
            height: auto;
         }
      }
   }
}

.page-footer {
   background-color: #00171f;
   height: 13vh;
   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 20px;
   justify-content: flex-end;

   .btn-start {
      background-color: #f44d00;
      padding: 10px 50px;
      align-self: center;
      position: static;
      font-family: "Typo Grotesk";
      font-weight: 900;
      text-transform: uppercase;
      color: #fff;
   }
}