@import "bootstrap"; 

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/100.otf')) format("opentype");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/100-italic.otf')) format("opentype");
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/400.otf')) format("opentype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/400-italic.otf')) format("opentype");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/700.otf')) format("opentype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/700-italic.otf')) format("opentype");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/900.otf')) format("opentype");
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Typo Grotesk';
   src: url(asset-path('typo-grotesk/900-italic.otf')) format("opentype");
   font-weight: 900;
   font-style: italic;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/500.ttf')) format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/600.ttf')) format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/100.ttf')) format("truetype");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/900.ttf')) format("truetype");
   font-weight: 900;
   font-style: normal;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
