// Place all the styles related to the imc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import "bootstrap";
 @import "base/*";
 
.btn-voltar {
   background-color: #f44d00;
   padding: 10px 50px;
   align-self: center;
   position: static;
   font-family: "Typo Grotesk";
   font-weight: 900;
   text-transform: uppercase;
   color: #fff;
   border: none;
}