@import "base/globals.scss";
@import "styles/imc.scss";

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/500.ttf')) format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/600.ttf')) format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Teko';
   src: url(asset-path('teko/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed';
   src: url(asset-path('roboto-condensed/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/100.ttf')) format("truetype");
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/300.ttf')) format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/400.ttf')) format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/700.ttf')) format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url(asset-path('lato/900.ttf')) format("truetype");
   font-weight: 900;
   font-style: normal;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

.page.page-home {
	.personagem {
		position: absolute;
	    width: 37%;
	    height: 100%;
	    z-index: 1;
	    padding: 20px;

	    .personagem-img {
	    	width: 100%;
	    	height: auto;
	    }
	}

	.page-header {
	   	background-color: #02161e;
	   	min-height: 30vh;
	   	padding: 20px;

	    .page-title {
	        width: 70%;
	        font-family: 'Teko';
	        font-weight: 700;
	        color: #a5f3c1;
	        text-align: center;
	        font-size: 80px;
	    }
	}
}

.d-grid {
    display: grid;
}

.food-container.d-grid {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    align-content: center;
    justify-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}

.div-container {
   padding: 40px;

	.page-description {
   		font-family: 'Lato';
   		font-size: 16px;
   		color: #02161e;
   		font-weight: 700;
   	}

   .food-container {
      margin-bottom: 30px;
      margin-top: 30px;
      .food {
         width: 100px;
         height: 100px;
         background-color: #29a19c;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;

         /*&:not(:last-child) {
            margin-right: 30px;
         }*/

         .food-img {
            width: 55px;
            height: auto;
            display: inline-block;
            animation: rotation 1.5s infinite linear;

            @keyframes rotation {
               50% {
                  transform: rotate(30deg);
               }
               100% {
                  transform: rotate(0deg);
               }
            }
         }
      }
   }
}

.page-footer {
	background-color: #00171f;
	height: 13vh;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	justify-content: flex-end;

   	.btn-start {
        font-family: 'Teko';
	    color: #02161e;
	    background-color: #a3f7bf;
	    font-size: 25px;
	    min-width: 200px;
	    font-weight: 700;
	    text-align: center;
	    align-self: center;
      	position: static;
     	text-transform: uppercase;
     	padding: 0;
	    min-height: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;

	    &:hover {
	    	text-decoration: none;
	    	background-color: rgba(165, 243, 193, 0.8);
	    }
   }
}

/*
*
* PÁGINA DE FORMULÁRIO
*
*/

.page.page-formulario {
	.page-header {
	   	background-color: #02161e;
	   	min-height: 10vh;
	   	padding: 20px;
	   	width: 100%;

	    .page-title {
	        font-family: 'Teko';
	        font-weight: 700;
	        color: #a3f7bf;
	        text-align: center;
	        font-size: 40px;
	        margin: 0;
	    }
	}

	.food-form {
	   	padding: 40px 60px;
	   	display: flex;
    	flex-direction: column;

	   	.question {
	   		color: #02161e;
	   		font-size: 18px;
	   		text-align: center;
	   		font-family: 'Lato';
	   		font-weight: 700;
	   	}

	   	.food-grid {
			margin-top: 40px;
			display: grid;
			grid-template-columns: repeat(3, 200px);
			grid-column-gap: 60px;
			grid-row-gap: 80px;
			justify-items: center;
			align-self: center;

	      	.food {
	        	display: flex;
	         	flex-direction: column;
	         	align-items: center;
	         	width: calc(100% + 20px);

	         	.food-title {
	         		color: #02161e;
	         		font-size: 22px;
	         		font-weight: 700;
	         		font-family: 'Lato';
	         		margin-bottom: 10px;
	         	}
	         
	        	.food-div {
		            width: 100px;
		            height: 100px;
		            background-color: #29a19c;
		            border-radius: 50%;
		            display: flex;
		            justify-content: center;
		            align-items: center;
		            margin-bottom: 10px;

		            .food-img {
		            	width: 55px;
		               	height: auto;
		            }
	         	}

	         	.food-count {
	         		color: #02161e;
	         		font-size: 16px;
	         		font-family: 'Lato';
	         		font-weight: 700;
	         		margin-top: 5px;	
	         	}
	      	}
	   	}

	   	.imc-container {
	   		margin-top: 20px;

	      	.imc-fields {
	         	display: flex;
	         	margin-bottom: 60px;
	         	margin-top: 10px;

	         	.field {
	         		flex-direction: column;
				    display: flex;
				    align-items: center;
	         	}

	         	.form-title {
	            	color: #02161e;
				    font-size: 22px;
				    font-weight: 700;
				    font-family: 'Lato';
				    margin-bottom: 5px;
	         	}

	         	.input-imc {
	            	border: none;
	            	height: 35px;
	            	max-width: 200px;
	            	padding: 10px;
	            	background-color: #e0e0e0;
	         	}
	      	}
	   	}

	   	.btn-calcular {
			font-family: 'Teko';
		    color: #02161e;
		    background-color: #a5f3c1;
		    font-size: 25px;
		    min-width: 200px;
		    font-weight: 700;
		    text-align: center;
		    align-self: center;
		    text-transform: uppercase;
		    padding: 0;
		    min-height: 50px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border: none;

		    &:hover {
	    		text-decoration: none;
	    		background-color: rgba(165, 243, 193, 0.8);
	    	}
	   	}
	}

	.slide-container {
		width: 100%;

		.slider {
			-webkit-appearance: none;
			width: 100%;
			height: 10px;
			background: #e0e0e0;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
			border-radius: 10px;

		  	&:hover {
		    	opacity: 1;
		  	}

		  	&::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    appearance: none;
			    width: 20px;
			    height: 20px;
			    background: #29a19c;
			    cursor: pointer;
			    border-radius: 50%;
		  	}

		  	&::-moz-range-thumb {
				width: 20px;
				height: 20px;
				background: #29a19c;
				cursor: pointer;
				border-radius: 50%;
		  	}
		}
	}

	.page-footer {
		bottom: -40px;
		margin: 0 -60px;

		.btn-voltar {
			background-color: #f44d00;
			padding: 10px 50px;
			align-self: center;
			position: static;
			font-family: "Typo Grotesk";
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			border: none;

			&:hover {
	    		text-decoration: none;
	    		background-color: rgba(165, 243, 193, 0.8);
	    	}
		}
	}

}

/*
*
* PÁGINA DE FORMULÁRIO
*
*/

.page.page-resultado {
	.page-header {
	   	background-color: #02161e;
	   	height: 100vh;
	   	padding: 40px;
	   	width: 100%;

	    .page-title {
	        font-family: 'Teko';
	        font-weight: 700;
	        color: #a3f7bf;
	        text-align: center;
	        font-size: 40px;
	        margin: 0;
	    }

	    .div-imc {
	    	border-top: 5px solid #fff;
		    margin: 0 -40px;
		    padding: 0 8%;
		    margin-top: 30px;

		    .bar-imc {
		    	display: flex;
	    		justify-content: space-between;
	    		align-items: center;

	    		.carinha-div {
	    			display: flex;
				    flex-direction: column;
				    align-items: center;

				    .carinha {
			    		width: 100px;
			    		padding-top: 10%;
    					padding-bottom: 10%;

			    		.icon {
			    			fill: #418786;
			    		}

			    		.icon-border {
			    			fill: #09171e;
			    		}

			    		.icon-color2 {
			    			fill: #a3f7bf;
			    		}
		    		}

		    		.imc-title {
		    			color: #418786;
					    font-family: 'Teko';
					    font-weight: 400;
					    font-size: 20px;
		    		}
	    		}

	    		.imc-divider {
	    			content: '';
					display: inline-block;
					background: #fff;
					margin: 0px 4px;
					height: 40px;
					width: 5px;
					vertical-align: top;
	    		}

		    }

		    .imc-result {
				max-height: 300px;
			    display: flex;
			    align-items: center;
			    /*margin-top: 5%;*/
			    padding-top: 5%;
    			box-sizing: border-box;

			    .carinha {
		    		width: 100%;
		    		margin: 0;

		    		.icon {
		    			fill: #A8DCC0;
		    		}

		    		.icon-border {
		    			fill: #09171e;
		    		}

		    		.icon-color2 {
		    			fill: #a3f7bf;
		    		}
	    		}

	    		.imc-title {
	    			color: #418786;
				    font-family: 'Teko';
				    font-weight: 400;
				    font-size: 20px;
	    		}

				.imc-text {
					p {
						font-size: 16px;
						font-family: 'Lato';
						color: #fff;
						width: 100%;
						padding-left: 5%;
						/*margin-left: -5%;*/
						text-indent: 30px;
    					text-align: justify;
					}
				}
			}
	    }

	}

	.food-result {
		padding: 40px 10%;
		.food-container {
		    /*display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-content: space-between;
    		align-items: center;*/
		    height: 100%;
		    padding: 20px;
    		border-radius: 20px;
    		display: grid;
		    grid-template-columns: 1fr;
		    justify-items: center;
		    grid-template-rows: repeat(3, 1fr);
		    align-items: center;
		    grid-row-gap: 20px;

		    &.good {
		    	background-color: #29a19c;
		    }

		    &.bad {
		    	background-color: #33415e;
		    }

		    .food {
		    	.food-img {
		    		width: 90px;
		    		height: 90px;
		    	}
		    }

		}
	    .text-result {
		    background-color: #02161e;
		    padding: 20px;
		    border-radius: 20px;
		    margin: 0;

		    p {
		    	color: #fff;
		    	font-family: 'Lato';
		    	font-size: 16px;
		    	text-indent: 30px;
    			text-align: justify;

    			b {
    				color: #3ba19c;
    				font-weight: 700;
    			}

    			i {
    				color: #a1f2bf;
    			}
		    }

		    &:last-child {
		    	margin-bottom: 0;
		    }

		    &:not(:last-child) {
		    	margin-bottom: 10px;
		    }
		}
	}

	.page-footer {
		display: flex;
		justify-content: space-between;
		padding: 0 10%;

		.btn-voltar {
			font-family: 'Teko';
		    color: #02161e;
		    background-color: #a5f3c1;
		    font-size: 22px;
		    min-width: 200px;
		    font-weight: 700;
		    text-align: center;
		    align-self: center;
		    text-transform: uppercase;
		    padding: 0;
		    min-height: 50px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border: none;

		    &:hover {
	    		text-decoration: none;
	    		background-color: rgba(165, 243, 193, 0.8);
	    	}
		}
	}
}